# Don't edit manually!
# {{ ansible_managed }}

{% for nrpe_command in nrpe_client_commands %}
command[{{ nrpe_command.name }}]={% if nrpe_command.pre_init_script is defined %}source {{ nrpe_command.pre_init_script }} && {% endif %}{{ nrpe_client_plugin_path }}/{{ nrpe_command.command }}
{% endfor %}